<footer class="mt-30">
    <div class="footer-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12 col-12">
                    <div class="footer-bottom-content">
                        <div class="footer-copyright">
                            <p>© 2021 Copyright <strong>Mutolib Sodiq</strong> Made With <i class="fa fa-heart text-danger"></i> by <a href="https://hasthemes.com/"> <strong>HasThemes</strong></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-12">
                    <div class="payment">
                        <a href="#">
                            <img src="assets/images/payment/footerend.png" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <!-- jQuery Migrate JS -->
    <script src="assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-3.8.0.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <!-- Plugins JS -->
    <script src="assets/js/plugins/plugins.js"></script>
    <!-- Jquery ui JS -->
    <script src="assets/js/plugins/jquery.ui.js"></script>
    <!-- Mailchimp JS -->
    <script src="assets/js/plugins/jquery.ajaxchimp.min.js"></script>
    <!-- Jquery Magnific Popup JS -->
    <script src="assets/js/plugins/jquery.magnific-popup.min.js"></script>
    <!-- Slick JS -->
    <script src="assets/js/plugins/slick.min.js"></script>
    <!-- Modal JS -->
    <script src="assets/js/plugins/modal.min.js"></script>
    <!-- Sticky Sidebar JS -->
    <script src="assets/js/plugins/sticky-sidebar.min.js"></script>
    <!-- Countdown JS -->
    <script src="assets/js/plugins/countdown.min.js"></script>
    <!-- jQuery Nice Select JS -->
    <script src="assets/js/plugins/jquery.nice-select.min.js"></script>

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>

</body>


</html>