<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= title %></title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap Min Css -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- Font Awesome Css -->
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.min.css">
    <!-- Material Design Font Css -->
    <link rel="stylesheet" href="assets/css/vendor/material-design-iconic-font.min.css">
    <!-- Animate Css -->
    <link rel="stylesheet" href="assets/css/vendor/animate.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css">
    <!-- jQuery UI CSS -->
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.min.css">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="assets/css/plugins/plugins.css">


    <!-- Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

</head>