<div class="header-area">
    <!-- Header Top Start -->
    <div class="header-top full-border">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <div class="sticky-container">
                        <div class="logo pt-10" style="padding-top: 25px;">
                            <!-- <a href="/"><img src="assets/images/logo/pos-circle-logo.png" alt="" class="img-fluid"></a> -->
                            <a href="/"><h3>SODIQ</h3></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-12">
                    <div class="box-right main-menu" style="color: blue;">
                        <ul>
                            <li class="settings">
                                <a href="/"> <i class="fa fa-home"></i> Home</a>
                            </li>
                            <li class="settings">
                                <a href="#" class="drop-toggle">
                                    <span>USD $</span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="box-dropdown drop-dropdown">
                                    <li><a href="#">EUR €</a></li>
                                    <li><a href="#">USD $</a></li>
                                </ul>
                            </li>
                           
                            <li class="settings">
                                <a href="#" class="drop-toggle">
                                    Products
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="box-dropdown drop-dropdown">
                                    <li><a href="/addproduct">Add Product</a></li>
                                    <li><a href="/allproducts">View Product</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>